__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
.git
.github
.pytest_cache
.ruff_cache
.venv
venv/
env/
*.egg-info
dist/
build/
docs/
tests/
jmeter/
postman/
README.md
*.md
.env
.vscode
.idea
htmlcov
.coverage
models/
